@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'components/components.scss';

body{
  background: #fff;
}

.container{
  max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}