.header{
  color: #fff;
  position: fixed;
  background-color: #008ffb;
  padding-top: 15px;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  h1{
    font-family: Roboto;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 0;
    font-size: 35px;
  }
}